---
layout: default
---
<div class="home">

  {%include mission_statement.html %}

  <section class="post-list">
    {% for post in site.posts %}
      <article>
        <header>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </header>

        <div class="cols">
          <div class="col-excerpt">
            <div class="excerpt">
            {{ post.excerpt }}
            </div>
          </div>

          <div class="col-more">
            <div class="excerpt-time">
              {%include read_time.html %}
            </div>
            <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          </div>
        </div>

      </article>

    {% endfor %}
  </section>
</div>
